body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
  }
  
  .profile-page {
    padding: 50px 20px;
  }
  
  .profile-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .profile-container h1 {
    font-size: 2.5rem;
    color: #007BFF;
    text-align: center;
    
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #555;
    text-align: left;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  input:focus, select:focus {
    border-color: #007BFF;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #003f7f;
  }
  
  button + button {
    margin-left: 10px;
    background-color: #6c757d;
  }
  
  button + button:hover {
    background-color: #5a6268;
  }
  
  .profileBox {
    margin-top: 10px;
  }
  
  .profileBox div {
    display: flex;
    flex-direction: column;
  }
  
  .profileBox button {
    margin-top: 10px;
  }
  
  .profileBox button:first-child {
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .profile-container {
      padding: 20px;
    }
  
    input, select {
      font-size: 0.9rem;
    }
  
    button {
      font-size: 0.9rem;
    }
  }